.ownRadio {
  display: -ms-flexbox;
  display: flex;
  max-width: 1140px;
  width: 100%;
  padding: 15px 0;
  box-sizing: border-box;
  margin: auto;
  position: relative;
  cursor: default;
}

.ownRadioPlayer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  min-width: calc(3.08em + 30px);
  width: 41.66666667%;
  padding: 0 15px;
  box-sizing: border-box;
  font-size: 100px;
}

.ownRadioPlayer-wrap {
  max-width: 3.08em;
  margin: auto;
}

.ownRadioPlayer-phone {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  width: 3.08em;
  height: 6.42em;
  padding-left: .02em;
  background: url("img/iphone.png") 50% 50% no-repeat;
  background-size: contain;
  position: relative;
}
.ownRadioPlayer-play {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all .1s linear;
  width: 58px;
  height: 58px;
  border-radius: 100%;
  background:#ffffff;
  position: relative;
  cursor: pointer;
  box-sizing: content-box;
  box-shadow: -1px 3px 8px -1px rgba(0,0,0, 0.45);
  z-index: 20;
}

.ownRadioPlayer-play:after {
  display: block;
  content: '';
  width: 0;
  height: 0px;
  margin-left: 6px;
  border: 0.18em solid rgba(255, 255, 255, 0);
  border-width: 10px 0 10px 16px;
  border-left-color: #03A9F4;
  position: relative;
}
.ownRadioPlayer-play:active:after,
.ownRadioPlayer-play.pause:active:after,
.ownRadioPlayer-play.pause:active{
  border-left-color: #03A9F4;
}
.ownRadioPlayer-play.pause:active:after  {
  border-right-color: #03A9F4;
}
.ownRadioPlayer-play:active:after {
  transform: scale(0.7, 0.7);
  transition: none;
}

.ownRadioPlayer-play.pause:after {
  width: 2px;
  height: 16px;
  margin-left: 0;
  border-width: 0px 6px;
  border-right-color: #03A9F4;
  box-sizing: content-box;
}
.ownRadioPlayer-play.pause:active:after {
  transform: scale(0.7, 0.7);
  transition: none;
}

.ownRadioPlayer-track {
  width: 74%;
  padding-top: 7px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ownRadioPlayer-new-track {
  width: 100%;
  padding-top: 7px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#radioPause {
  display: none;
}

.track-det {
  width: 100%;
  text-align: center;
  color: #999;
}

#myBar {
  background-color: #03A9F4;
  width: 0px;
  height: 100%;
}

#radioProgress {
  transition: 0.5;
}

#radioProgress:hover {
  height: 5px;
}

.hidden {
  display: none;
}

#ownRadio-player {
  text-shadow: none;
}

.extended-class {
  display: flex;
  font-size: 16px;
}

.left-side  {
 width: 50%;
}

.right-side  {
 width: 50%;
}

@media only screen and (max-width: 728px) {


  #ownRadio-player {
    width: auto;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .right-side {
    width: 100%;
  }

  .media {
    position: relative;
  }
}

.media {
  border-top: 1px solid white;
    width: 87%;
    padding-top: 12px;
}

#radioNext:active {
  transform: scale(0.9);
}

.image-block {
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.time-block {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.player-block {
  background-color: white;
}

.ownRadioPlayer-name {
  font-size: 14px;
  line-height: 1.2em;
  color: #fff;
  text-align: left;
  max-height: 2.4em;
  overflow: hidden;
  word-break: break-word;
  white-space: nowrap;
  position: relative;
  z-index: 10;
}

.ownRadioPlayer-group {
  font-size: 16px;
  line-height: 1.15em;
  color: #000;
  font-weight: 500;
  max-height: 2.4em;
  overflow: hidden;
  word-break: break-word;
  white-space: nowrap;
}

.ownRadioPlayer-nextButton {
  display: -ms-flexbox;
  display: flex;
  width: 58px;
  height: 58px;
  padding-right: 0em;
  transition: all .1s linear;
  border-radius: 50%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: -1px 3px 8px -1px rgba(0,0,0, 0.45);
  z-index: 20;
  cursor: pointer;
}
.ownRadioPlayer-next {
  display: -ms-flexbox;
  display: flex;
  height: 16px;
  padding-right: 0px;
  border-right: 4px solid #03A9F4;
}

.ownRadioPlayer-next:before,.ownRadioPlayer-next:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid rgba(255, 255, 255, 0);
  border-width: 8px 0 8px 12px;
  border-left-color: #03A9F4;
}
.ownRadioPlayer-next:active {
  transform: scale(0.9, 0.9);
  transition: none;
}
.ownRadioPlayer-nextButton:active,
.ownRadioPlayer-play:active,
.ownRadioPlayer-play.pause:active{
  box-shadow: 0px 0px 15px 4px rgba(0,0,0, 0.35);
}
.ownRadioPlayer-nextButton:active .ownRadioPlayer-next {
  border-color: #03A9F4;
  transform: scale(0.9, 0.9);
  transition: none;
}
.ownRadioPlayer-nextButton:active .ownRadioPlayer-next:after,
.ownRadioPlayer-nextButton:active .ownRadioPlayer-next:before {
  border-left-color: #03A9F4;
  transform: scale(0.9, 0.9);
  transition: none;
}

.ownRadioContent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-pack: center;
  justify-content: center;
  width: 58.33333333%;
  padding: 0 15px 80px 15px;
  box-sizing: border-box;
  position: relative;
}

.ownRadioContent .description {
  margin: 1.8182em 0 10px 0;
  font-size: 1.5714rem;
  line-height: 1.5em;
}

.ownRadioContent .top-button {
  margin-top: 40px;
}

.ownRadioFooter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media only screen and (max-width: 1024px) {
  .ownRadioPlayer {
    width: 33.3333%;
    font-size: 80px;
  }

  .ownRadioContent {
    width: 66.6666%;
  }
}

@media only screen and (max-width: 768px) {
  .ownRadio {
    -ms-flex-flow: column;
    flex-flow: column;
  }

  .ownRadioPlayer {
    width: 100%;
    margin-bottom: 30px;
    font-size: 100px;
  }

  .ownRadioContent {
    width: 100%;
    text-align: center;
    padding-bottom: 0;
  }

  .ownRadioFooter {
    -ms-flex-flow: column;
    flex-flow: column;
    position: relative;
  }
}

@media only screen and (max-width: 480px) {
  .ownRadioPlayer {
    font-size: 80px;
  }
}
.ownRadioPlayer-min {
  max-width: 583px;
  min-width: 583px;
  width: 100%;
  background: #03A9F4;
  min-height: 58px;
  border-radius: 50px;
  display: inline-flex;
  flex-direction: row;
  padding: 12px;
  justify-content: space-between;
  z-index: 9999;
  margin: 0 auto;
}
.ownProgress-bar {
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 7px 0;
}
.ownTrak-time {
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  color: #778a95;
  font-size: 12px;
}
td,th{
  padding: 0.4em;
}

@media screen and (max-width: 607px) {
  .ownRadioPlayer-min {
    width: 583px;
    background: #03A9F4;
    min-height: 58px;
    border-radius: 50px;
    display: inline-flex;
    flex-direction: row;
    padding: 12px;
    justify-content: space-between;
    z-index: 9999;
    margin: 0 auto;
  }
  .ownRadioPlayer-track {
    width: 74%;
    padding-top: 7px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .ownRadioPlayer-play {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all .1s linear;
    width: 58px;
    height: 58px;
    border-radius: 100%;
    background: #fff;
    position: relative;
    cursor: pointer;
    box-sizing: content-box;
    box-shadow: -1px 3px 8px -1px rgba(0,0,0, 0.45);
    z-index: 20;
  }
  .ownRadioPlayer-nextButton {
    display: -ms-flexbox;
    display: flex;
    width: 58px;
    height: 58px;
    padding-right: 0em;
    transition: all .1s linear;
    border-radius: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: -1px 3px 8px -1px rgba(0,0,0, 0.45);
    z-index: 20;
    cursor: pointer;
  }
}
@media screen and (max-width: 807px) {
  .ownRadioPlayer-min {
    width: 583px;
    background: #03A9F4;
    min-height: 58px;
    border-radius: 50px;
    display: inline-flex;
    flex-direction: row;
    padding: 12px;
    justify-content: space-between;
    z-index: 9999;
    margin: 0 auto;
  }
  .ownRadioPlayer-play {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    transition: all .1s linear;
    width: 58px;
    height: 58px;
    border-radius: 100%;
    background: #fff;
    position: relative;
    cursor: pointer;
    box-sizing: content-box;
    box-shadow: -1px 3px 8px -1px rgba(0,0,0, 0.45);
    z-index: 20;
  }
  .ownRadioPlayer-nextButton {
    display: -ms-flexbox;
    display: flex;
    width: 58px;
    height: 58px;
    padding-right: 0em;
    transition: all .1s linear;
    border-radius: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: -1px 3px 8px -1px rgba(0,0,0, 0.45);
    z-index: 20;
    cursor: pointer;
  }
}
